<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Eneegy</title>
    <meta name="description" content="Giúp bạn quản lí cơ sở kinh doanh của mình trong một thế giới thay đổi và chuyển động.">
    <link rel="stylesheet" href="assets/eneegy_main/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rokkitt">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Scope+One">
    <link rel="stylesheet" href="assets/eneegy_main/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/eneegy_main/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/eneegy_main/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/eneegy_main/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/eneegy_main/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/eneegy_main/css/eneegy.css">
    <link rel="stylesheet" href="assets/eneegy_main/css/footer.compiled.css">
    <link rel="stylesheet" href="assets/eneegy_main/css/Mega-Menu.css">
    <script>
		window.frappe = {};
		frappe.ready_events = [];
		frappe.ready = function(fn) {
			// frappe.ready_events.push(fn);
		}
		// window.dev_server = {{ dev_server }};
		// window.socketio_port = {{ (frappe.socketio_port or 'null') }};
    </script>
</head>
<body id="page-top" style="font-family: Poppins, sans-serif;font-weight: normal;">
    {% block content %}{% endblock %}
    <script type="text/javascript" src="assets/eneegy_main/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/eneegy_main/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/frappe-web.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script type="text/javascript" src="assets/js/eneegy-main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/eneegy_main/js/Mega-Menu.js"></script>
    <script src="assets/eneegy_main/js/new-age.js"></script>
</body>

</html>